.photoPost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.imgInput {
  margin-top: 1rem;
 margin-bottom: 1rem;
}

.preview {
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
}

.preview::after {
  content: '';
  display: block;
  height: 0px;
  padding-bottom: 100%;
}