.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.nav a,
.nav button {
  border-radius: 0.2rem;
  background: #eee;
  text-decoration: none;
  color: #333;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s ease;
  cursor: pointer;
}

.nav a:hover,
.nav a:focus,
.nav button:hover
 {
  background: white;
  border-color: #eee;
  box-shadow: 0 0 0 3px #eee;
  outline: none;
}

.nav a:global(.active) {
  background: white;
  border-color: #fb1;
  box-shadow: 0 0 0 3px #fea;
}
.nav a:global(.active) svg > * {
  fill: #fb1;
}