.photoContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: white;
  border-radius: 0.4rem;
  padding: 1rem;
}

.photoContent img {
  width: 100%;
  height: auto;
  border-radius: 0.4rem;
}

.info {
  padding: 0 1rem;
}

.info h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.info p {
  color: #666;
  font-size: 0.9rem;
}
