* {
    box-sizing: border-box;
}

body {
    padding-top: 4rem;
    margin: 0;
    --type-first: Helvetica, Arial, sans-serif;
    --type-secundo: 'Spectral', Georgia, serif;
    color: #333;
    font-family: var(--type-first);
}
h1, h2, h3, h4, p {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}
button, input {
    font-family: var(--type-first);
    display: block;
    font-size: 1rem;
    color: #333;
}

a {
    text-decoration: none;
  
}
.container {
    padding: 0 auto;
    max-width: 50rem;
    margin: 0 auto;
}