* {
    box-sizing: border-box;
}

body {
    margin: 0;
    --type-first: Helvetica, Arial, sans-serif;
    --type-secundo: 'Spectral', Georgia, serif;
    color: #333;
    font-family: var(--type-first);
}