.inputWrapper {
  margin-bottom: 1rem;
}

.label {
  display: block;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1;
}

.input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #eee;
  border-radius: 0.4rem;
  font-size: 1rem;
  background: #eee;
  transition: 0.2s;
}

.input:focus,
.input:hover {
  outline: none;
  border-color: #fb1;
  background: white;
    box-shadow: 0 0 0 3px #fea;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}